.resumen-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
  }
  
  p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  
  .enlace-proyectos {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .enlace-proyectos:hover {
    background-color: #0056b3;
  }
  
  .footer-resumen {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9rem;
    color: #999;
  }
  .mensaje-base-datos h2 {
    font-size: 36px; /* Tamaño grande para el texto */
    color: #ff5722;  /* Color destacado */
    font-weight: bold;
    text-align: center;
    background-color: #f0f0f0;  /* Fondo suave para resaltar */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  