.videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.video-title {
  font-size: 1.5rem;
  color: green;
  margin-bottom: 10px;
  text-align: center;
}

.video-wrapper {
  position: relative;
  width: 100%;  /* Asegura que el contenedor ocupe todo el ancho disponible */
  max-width: 900px; /* El tamaño máximo que tendrá el video en pantallas grandes */
  height: 0;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9, 9/16 * 100 = 56.25% */
  margin-bottom: 30px; /* Espacio entre los videos */
}

.video-wrapper .react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


